body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

.about,
.work,
.skills,
.contact {
    margin: 20px;
    text-align: center;
}

table {
    border-collaps: collapse;
    margin: 0 auto;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    align: center;
}

h2 {
    color: #007BFF;
    text-align: center;
}

ul {
    list-style-type: disc;
    padding: 2;
    text-align: left;
}

ul li {
    margin-bottom: 8px;
}

.center-image {
    text-align: center;
}

.center-image img {
    display: block;
    margin: 0 auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container figure {
    flex: 0 0 auto;
    margin: 10px;
    text-align: center;
}